:root {
    --fohatter:    #9c9595;
    --gombok:      #9BB0AD;
    --logo-hatter :#5A5F69;
    --content :    #7F7F7F;
    --gomb-felirat:#000;
}


.page {
    display: grid;
    grid-template-areas:
      "header"
      "nav"
      "content"
      "gta-logo1"
      "gta-logo2"
      "footer"
}

.header {    grid-area: header;}
.nav {       grid-area: nav;}
.content {   grid-area: content;}
.footer {    grid-area: footer;}
.gta-logo1 { grid-area: gta-logo1;}
.gta-logo2 { grid-area: gta-logo2;}
  
@media (min-width: 768px) {
    .page {
      grid-template-columns: 1fr 4fr 1fr;
      grid-template-areas: 
        "header    header  header"
        "nav       content gta-logo2"
        "gta-logo1 content gta-logo2"
        "footer    footer  footer"
    }

    .logo {
        position: relative;
        animation: logo 7s ease-in .1s infinite backwards;
    }

    .logo2 {
        position: relative;
        animation: logo 6.5s ease-in .3s infinite backwards;
    }

    @keyframes logo {
        0% {transform: scaleX(1);}
        50% {transform: scaleX(-1);}
        100% {transform: scaleX(1);}
        
    }
}


nav {
    background-color: var(--logo-hatter);
}

.btn{
    width:   100%;
    height:  50px;
    padding: 5px;
    margin:  8px 0;
    background-color: var(--gombok);
}

@media (min-width: 768px) {
    .btn {border-radius: 30px; }
}

.header {  
    display:         flex;
    justify-content: center;
}

.header {
    background-color: var(--fohatter);
}

.content{
    background-color: var(--content);
}

.gta-logo1, .gta-logo2 {
    background-color: var(--logo-hatter) ;
}

.footer {
    background-color: var(--fohatter);
    font-size:        small;
}

.fo-logo {
    width:  70px;
    height: 70px;
    margin: 5px;
}

img {
    width:  150px;
    height: 150px;
}

@media (min-width: 470px) {
    .gta2logo {
        width:  300px;
        height: 150px;
    }
}

@media (min-width: 768px) {
    .gta2logo {
        width:  150px;
        height: 150px;
    }
}

@media (min-width: 1500px) {

    img, .gta2logo {
        width:  300px;
        height: 300px;
    }
}

.mozog {
    width:     50px;
    height:    50px;
    position:  relative;
    animation: auto 10s ease-in .1s infinite ;
}

@keyframes auto {
    0% {left:   1%; transform: scaleX(1);}
    25% {left: 90%; transform: scaleX(1);}
    50% {left: 90%; transform: scaleX(-1);}
    75% {left:  1%; transform: scaleX(-1);}
    100% {left: 1%; transform: scaleX(1);}
    
}

.gta-logo1, .gta-logo2 {
    padding: 5px;
}

iframe {
    width:  100%;
    height: 100vh;
    border: none;
}

@media (min-width: 768px) {
    iframe {
        width:  100%;
        height: 100%;
        border: none;
    }
}

nav a {
    text-decoration: none;
    color:           var(--gomb-felirat);
    display:         block;
}